:root {
  
  --black: #1E2328;
  --dkaqua:#357C8C;
  --aqua: #03A6A6;
  --lgaqua: #BAD9D9;
  --yellow: #F29E38;
  --white: #F2F2F2;


  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
