:root {

  --black: #1E2328;
  --dkaqua:#357C8C;
  --aqua: #03A6A6;
  --lgaqua: #BAD9D9;
  --yellow: #F29E38;
  --carmin: #8C143C;
  --white: #F2F2F2;
  --font-size: 1.3rem;
  --inter: Inter, Avenir;
  --sans: Helvetica, Arial, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--lgaqua);
  color: var(--black);
  font-size: var(--font-size);
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--dkaqua);
}
a:hover {
  color: var(--aqua);
  text-decoration: none;
}

/* Intro Styles */
#intro {
  background-image: url(./assets/Japan_Intro.jpg);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro h2  {
  font-size: 4rem;
  color: var(--carmin);
  margin-top: 200px;


}
#intro .name {
  font-family: var(--inter);
  color: var(--white);
}

/*contact section */
#contact {
  width: 400px;
  background-color: var(--lgaqua);
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}



#contact h3{
  padding-bottom: 0;
  margin-bottom: 0;
}

#contact p {
  font-size: 1rem;
}

#contact a {
  color: var(--black)
}

/* Navbar */

nav {
  font-family: var(--inter);
  font-size: 80%;
  padding: 1rem;
  background-color: var(--white);
}


nav h1 a{
  font-family: var(--sans);
  display: inline-block;
  align-items: left;
  padding: 1rem 0 0 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
  gap: 2rem;
}


nav a {
  color: var(--dkaqua);
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: var(--lgaqua);
}

nav .fa{
  font-size: 150%;
  color: var(--dkaqua);
}
nav :hover {
  color: var(--lgaqua);
}

@media (min-width: 850px;){
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
